/build/
/build-broker/
/out/
/dist/
/.cache/
/third_party/downloads/
/third_party/cef/
/third_party/sqlite/
/third_party/json/
/third_party/node/
/node_modules/
**/node_modules/
**/dist/
*.log
*.pdb
*.ilk
*.user
*.suo
.vs/
.env
*.csv
*.db
*.db-*
*credentials*.json
*client-config*.json
